* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

.calc {
  display: flex;
  align-items: center;
  gap: 5em;
  margin-top: 8em;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1em;
}

.input {
  background: #808080;
  grid-column: 1 / span 4;
  text-align: right;
  color: #fff;
}

.item0 {
  grid-column: 1 / span 2;
}

.input,
input {
  padding: 1em;
  font-size: 1.5rem;
}

.sign1 {
  background-color: #f7941d;
}

button:hover {
  color: red;
}

h1 {
  color: #000;
  margin-right: auto;
}

.heading {
  display: flex;
  background: #d3d3d3;
  padding: 1em;
}

.nav {
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: 1.5rem;
}

.link {
  color: dodgerblue;
  padding: 5px;
}

.calc-title {
  font-size: 3rem;
}

.quote {
  font-size: 1.5rem;
  margin: 1em;
}

.info {
  padding: 1em;
  font-size: 1.5rem;
}

.link-b {
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  padding: 0 1em 0 1em;
}

.footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer-link {
  text-decoration: none;
  cursor: pointer;
  color: #1ecbd7;
  font-weight: bold;
}
